@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

* {
    border-radius: 15px;

}

html {
    background-color: rgb(20, 23, 37);
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 800;
    font-size: 13pt;
}

h1 {
    color: black;
    text-align: center;
    padding-top: 15px;
    font-family: Consolas;
}

canvas {
    display: block;
}

p {
    margin: 0;
    padding: 0 5px 0 5px;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#controls {
    min-width: 200px;
    width: 300px;
    background: rgb(189, 188, 188);
    color: rgb(20, 23, 37);
    margin: 0 20px 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    height: 920px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: stretch;
}

#snackbar {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: rgb(189, 188, 188);
    color: white;
    text-align: center;
    min-width: 180px;
    min-height: 40px;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 40px;
    padding: 0px 20px 0px;
    visibility: hidden;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}