@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

* {
    border-radius: 10px;
}

html {
    background-color: rgb(20, 23, 37);
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 800;
    font-size: 10pt;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 15px;
    font-family: Consolas;
}

canvas {
    display: block;
}

p {
    margin: 0;
    padding: 0 5px 0 5px;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#controls {
    min-width: 120px;
    width: 220px;
    color: white;
    border: 2px solid white;
    margin: 0 20px 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    height: 680px;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: stretch;
}

#canvas {
    margin: 0 20px 0 0;
    min-width: 500px;
    min-height: 100px;
}

#snackbar {
    position: fixed;
    bottom: 15px;
    right: 20px;
    background: rgba(116, 171, 175, 0.8);
    color: white;
    border-radius: 5px;
    text-align: center;
    min-width: 100px;
    min-height: 20px;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 20px;
    padding: 0px 20px 0px;
    visibility: hidden;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}