html {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
    padding-top: 15px;
    font-family: Consolas;
}

body {
    max-width: 800px;
    min-width: 800px;
    min-height: 80%;
    padding-top: 50px;
}

canvas {
    margin: auto;
    min-width: 600px;
    max-height: 400px;
    display: block;
    border: 1px solid black;
}

p {
    margin: 0;
    padding: 0 5px 0 5px;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "content content content sidebar"
        "content content content sidebar"
        "navigation navigation navigation sidebar";
    grid-gap: 10px;
    justify-content: center;
    align-self: center;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#header {
    grid-area: header;
    background-color: rgb(202, 200, 200);
}

#content {
    grid-area: content;
    padding: 15px 15px 15px 15px;
}

#navigation {
    color: black;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
    display: block;
    padding-top: 80px;
    grid-area: navigation;
}

#sidebar {
    grid-area: sidebar;
    background-color: rgb(202, 200, 200);
    text-align: center;
}